In [1]:
import pandas as pd

In [2]:
#pd.read_excel(r'Attribute DataSet.xlsx') #put r if unicode error- unicode is windows error, in mac/linux no such error
#df = pd.read_excel(r'C:\Users\saumy\Desktop\ineuron\Attribute DataSet.xlsx',sheet_name='name of othersheet')
#df = pd.read_excel(r'C:\Users\saumy\Desktop\ineuron\Attribute DataSet.xlsx', sheet_name='Dresstest', header=None, names=['A', 'B', 'C', 'D'])#we can give our own names to columns and eliminate header by header=None because it considers first row as head
df = pd.read_excel(r'C:\Users\saumy\Desktop\ineuron\Attribute DataSet.xlsx')

In [3]:
#type(df) #dataframe is equivalent to table, series is equivalent to list but not actually list

In [4]:
df.head() #it'll show first 5 records

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [5]:
df.tail(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [6]:
df = pd.read_csv(r'C:\Users\saumy\Desktop\ineuron\haberman.csv', header=None)#header=None since it considered 1st row as header and i dont want that

In [7]:
df.head()

    0   1  2  3
0  30  64  1  1
1  30  62  3  1
2  30  65  0  1
3  31  59  2  1
4  31  65  4  1

In [8]:
pd.read_csv(r'C:\Users\saumy\Desktop\ineuron\haberman (1).csv', header=None, sep="@") #read csv with @as seperator, if error replace "" with ''

      0   1  2  3
0    30  64  1  1
1    30  62  3  1
2    30  65  0  1
3    31  59  2  1
4    31  65  4  1
..   ..  .. .. ..
301  75  62  1  1
302  76  67  0  1
303  77  65  3  1
304  78  65  1  2
305  83  58  2  2

[306 rows x 4 columns]

In [9]:
pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv") #from github--click on raw--give the url

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [10]:
a = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html") #can read html webpage only tabular data

In [11]:
type(a)

list

In [12]:
len(a) # one table is present len=1
#we can't do head since its a list and not dataframe

1

In [13]:
a[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [14]:
pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [15]:
#read json file and make it structured in form of table/df, json is combination of multiple dictionaries
b=pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

In [16]:
type(b)

pandas.core.frame.DataFrame

In [17]:
b.head(5) #one single recod is one dictionary

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,draft,pull_request,body,reactions,timeline_url,performed_via_github_app,state_reason
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47908,1323448835,PR_kwDOAA0YD848YWfB,47908,Fix stacklevel dayfirst warning,...,NaT,MEMBER,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [ ] closes #47907 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47907,1323445152,I_kwDOAA0YD85O4iug,47907,BUG: stacklevel from dayfirst warning incorrect,...,NaT,MEMBER,NaN,NaN,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47906,1323404703,I_kwDOAA0YD85O4Y2f,47906,"BUG: read_csv, usecols, header=1 unexpectedly ...",...,NaT,NONE,NaN,NaN,NaN,import pandas\r\nimport io\r\n\r\n#Make the li...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47905,1323328582,PR_kwDOAA0YD848X_UC,47905,BUG: Fix read_xml raising syntax error when re...,...,NaT,CONTRIBUTOR,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...,- [X] closes #47902 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47902,1322994363,I_kwDOAA0YD85O20q7,47902,BUG: pd.read_xml read chinese tag throw Syntax...,...,NaT,NONE,NaN,NaN,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN

In [18]:
b.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'reactions',
       'timeline_url', 'performed_via_github_app', 'state_reason'],
      dtype='object')

In [19]:
b['user']

0     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
1     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
2     {'login': 'clearoak', 'id': 7503358, 'node_id'...
3     {'login': 'ParfaitG', 'id': 13602663, 'node_id...
4     {'login': 'fhopecc', 'id': 61467, 'node_id': '...
5     {'login': 'dataxerik', 'id': 15721311, 'node_i...
6     {'login': 'kouml', 'id': 23252616, 'node_id': ...
7     {'login': 'lithomas1', 'id': 47963215, 'node_i...
8     {'login': 'behrenhoff', 'id': 1408034, 'node_i...
9     {'login': 'msilva-pass', 'id': 91082605, 'node...
10    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
11    {'login': 'mroeschke', 'id': 10647082, 'node_i...
12    {'login': 'mroeschke', 'id': 10647082, 'node_i...
13    {'login': 'rgommers', 'id': 98330, 'node_id': ...
14    {'login': 'asandeep', 'id': 1650682, 'node_id'...
15    {'login': 'mmiller-max', 'id': 59854849, 'node...
16    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
17    {'login': 'jbrockmendel', 'id': 8078968, 'node...
18    {'login': 'VHElise', 'id': 1756220, 'node_id':...
19    {'login': 'JeffersonQin', 'id': 30655701, 'nod...
20    {'login': 'daviewales', 'id': 2499066, 'node_i...
21    {'login': 'bbizarro', 'id': 9373954, 'node_id'...
22    {'login': 'attack68', 'id': 24256554, 'node_id...
23    {'login': 'Dr-Irv', 'id': 15113894, 'node_id':...
24    {'login': 'Codeberg-AsGithubAlternative-buhtz'...
25    {'login': 'dannyi96', 'id': 15380498, 'node_id...
26    {'login': 'weikhor', 'id': 36619387, 'node_id'...
27    {'login': 'seanslma', 'id': 30691708, 'node_id...
28    {'login': 'mroeschke', 'id': 10647082, 'node_i...
29    {'login': 'PriestlyAdejo', 'id': 108146732, 'n...
Name: user, dtype: object

In [20]:
b['user'][1] #since its dictionary fetching 1st dict details

{'login': 'MarcoGorelli',
 'id': 33491632,
 'node_id': 'MDQ6VXNlcjMzNDkxNjMy',
 'avatar_url': 'https://avatars.githubusercontent.com/u/33491632?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/MarcoGorelli',
 'html_url': 'https://github.com/MarcoGorelli',
 'followers_url': 'https://api.github.com/users/MarcoGorelli/followers',
 'following_url': 'https://api.github.com/users/MarcoGorelli/following{/other_user}',
 'gists_url': 'https://api.github.com/users/MarcoGorelli/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/MarcoGorelli/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/MarcoGorelli/subscriptions',
 'organizations_url': 'https://api.github.com/users/MarcoGorelli/orgs',
 'repos_url': 'https://api.github.com/users/MarcoGorelli/repos',
 'events_url': 'https://api.github.com/users/MarcoGorelli/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/MarcoGorelli/received_events',
 'type': 'User',
 'site_admin': False}

In [21]:
pwd #present working directory

'C:\\Users\\saumy\\iNeuron Assignments'

In [22]:
df.to_json(r"C:\Users\saumy\Desktop\ineuron\dressjsontest") #it will save the df dataset in json format, each col is dictionary where nested dictionary-each row dress_id is key and row wise values
#we can define seperator also while saving a file
#sdf.to_csv(r"C:\Users\saumy\Desktop\ineuron\dressjsontest", sep='@')

In [23]:
#read above json file
c = pd.read_json("file:///C:/Users/saumy/Desktop/ineuron/dressjsontest")

In [90]:
c.head(10)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
5,1068332458,bohemian,Low,0.0,M,Summer,v-neck,sleevless,empire,None,None,None,print,0
6,1220707172,Casual,Average,0.0,XL,Summer,o-neck,full,None,cotton,None,None,solid,0
7,1219677488,Novelty,Average,0.0,free,Automn,o-neck,short,natural,polyster,broadcloth,lace,None,0
8,1113094204,Flare,Average,0.0,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid,1
9,985292672,bohemian,Low,0.0,free,Summer,v-neck,sleevless,natural,nylon,chiffon,None,None,1

In [93]:
c["Dress_ID"][1]

1212192089